.not-found {
	@include card;
	padding: 10px;
	text-align: center;
	margin: 0 0 10px;
	
	.page-title {
		margin:33px 0 22px;
	}
	h4 {
		margin-bottom:20px;
	}
	.btn {
		margin-bottom:11px;
	}
	
	@include media-breakpoint-up(lg) {
		padding: 30px;
		margin: 0 0 30px;
	}
}