.widget-area .widget.widget-subscribe {
	padding-top: 50px;
	padding-bottom: 50px;

	.follow-block, .subscribe-block {
		padding-left: 20px;
		padding-right: 20px;
		@include media-breakpoint-up(xxl) {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

}
.follow-block {
	max-width: 560px;
	.sidebar-primary &,
	.sidebar-secondary &,
	.footer-area & {
		text-align: center;
	}
}
.subscribe-block {
	padding: 0 0 20px;
	.sidebar-primary &,
	.sidebar-secondary &,
	.footer-area & {
		text-align: center;
	}
	.follow-block + & {
		padding: 30px 0 20px;
		@include media-breakpoint-up(lg) {
			padding: 56px 0 20px;
		}
		.footer-area & {
		}
	}
	&__input-group {
		display: block;
		text-align: left;

		.footer-area & {
			@include media-breakpoint-up(lg) {
				margin-left:auto;
				margin-right:auto;
				width:100%;
			}
		}
	}
	&__input[type="email"] {
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		margin-bottom: 10px;
		display: block;
		max-width: 100%;
		.footer-area & {
			&:focus {
				box-shadow: none;
			}
		}
		.sidebar-primary & {

		}

		@media (min-width: 1400px) {
			margin-right: 10px;
			display: inline-block;
			max-width: calc(100% - 132px);
		}
	}
	&__submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		max-width: 100%;
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 10px;
		@include media-breakpoint-up(md){
			max-width: 100%;
			width: auto;
		}

		@include media-breakpoint-up(xl) {
			@include font-size(1);
			&:before {
				display: none;
			}
		}

		@media (min-width: 1400px) {
			display: inline-block;
		}
		.sidebar-1-4 & {
			&:before {
				display: inline-block;
			}
		}
	}
	&__message {
		padding: 0 0 15px;
		.footer-area & {
			padding-bottom: 20px;
		}
	}
}