.widget{
	h4{
		margin: 0 0 15px 0;
	}
	.widget-title {
		margin-bottom: 24px;
	}
	> ul{
		margin: 0px 0px;
		padding: 0 0;
		> li{
			margin: 0;
			list-style:none;
			@include font-size(1);
			position: relative;
			&>ul{
				margin-bottom: 0;
				margin-left: 0em;
			}
		}
	}
	.sidebar-primary &,
	.sidebar-secondary &{
		& + .widget {
			padding-top: 52px;
		}
	}
	.sidebar-primary &,
	.sidebar-secondary &,
	.footer-area &{
		&.widget_categories,
		&.widget_archive,
		&.yith-woocompare-widget,
		&.widget_product_categories,
		&.widget_meta,
		&.widget_pages{
			> ul{
				> li{
					text-transform: uppercase;
					margin-top: 4px;
					padding-top: 4px;
					.children{


						li{
							font-size: 14px;
							margin-left: 10px;
						}
					}


				}
			}
		}
	}
	footer.site-footer .footer-area &{
		&.widget_categories,
		&.widget_archive,
		&.yith-woocompare-widget,
		&.widget_product_categories,
		&.widget_meta,
		&.widget_pages,
		&.widget_nav_menu{
			> ul > li{
					.children{

					}
					 + li{

					}
			}
		}
	}
}
.before-content-area,
.after-content-area,
.before-loop-area,
.after-loop-area,
.full-width-header-area{
	& .widget_archive,
	& .widget_product_categories,
	& .widget_meta,
	& .widget_rss,
	& .widget_recent_comments,
	& .widget_recent_entries,
	& .widget_categories,
	& .widget_pages,
	& .widget_nav_menu > div{
		& > ul{
			&::after {
				content:'';
				display: block;
				clear: both;
			}
			> li{
				@include media-breakpoint-up(sm) {
					width: 48%;
					margin-right: 2%;
					float: left;
				}
				@include media-breakpoint-up(md) {
					width: 23%;
					margin-right: 2%;
					float: left;
				}
			}
		}
	}
	& .widget_rss,
	& .widget_recent_comments,
	& .widget_recent_entries{
		& ul{
			margin-left: -2%;
			& > li{
				&:first-child{
					padding-top: 21px;
					margin-left: 2%;
				}
				&:nth-child(1), &:nth-child(2), &:nth-child(3){
					border-top: none;
					padding-top: 0;
				}
				@include media-breakpoint-up(sm) {
					width: 48%;
					margin-left: 2%;
					float: left;
				}
				@include media-breakpoint-up(md) {
					width: 31%;
					margin-left: 2%;
					float: left;
				}
			}
		}
	}
}


/*--------------------------------------------------------------
# Widget calendar
--------------------------------------------------------------*/
.widget_calendar{
	.calendar_wrap {
		background: #f4f4f4 !important;
		margin-top: 40px;
	}
	h4{
		margin: 0 0 24px 0;
	}
	.calendar_wrap{
		padding: 10px;
		@media (min-width: 1199px) {
			padding: 12px;
			padding-top: 0;
		}
		padding-top: 0;
		table{
			margin: 0;
		}
		caption{
			@include font-size(1);
			padding: 13px 10px;
			border-radius: 0;
			border-bottom: 1px solid #fff;
			margin-bottom: 24px;
			margin-left: -10px;
			margin-right: -10px;
			@media (min-width: 1199px) {
				margin-left: -12px;
				margin-right: -12px;
			}
		}
		th{
			@include font-size(1);
			padding: 0 0 13px 0;
			text-align: center;
			position: relative;
		}
		tbody{
			td{
				padding: 0px 0 9px 0;
				/* width: 15%; */
				text-align: center;
				position: relative;
				a{
					position: relative;
					display: inline-block;
					z-index: 1;
					@include transition( all 0.5s ease );
					&:hover{
						&::before{
							opacity: 1;
							@include transition( all 0.4s cubic-bezier( 0.175, 0.885, 0.32, 1.275 ) );
							transform:scale( 1, 1 );
						}
					};
					&::before {
						content:'';
						position: absolute;
						width: 50px;
						height: 50px;
						top: -50%;
						left: -50%;
						z-index: -1;
						display:block;
						opacity: 0;
						margin-left: 0px;
						@include transition( all 0.3s cubic-bezier( 0.6, -0.28, 0.735, 0.045 ) );
						transform:scale( 0.1, 0.1 );
					}

				}
			}
			tr:first-child > td{
				padding: 14px 0 9px 0;
			}
		}
		#prev, #next{
			@include font-size(1);
			padding: 10px 0 0 0;
		}
		#prev{

		}
		#next{
			text-align: right;
		}
	}
	@media ( max-width: 992px ) {
		h4{
			margin: 0 0 15px 0;
		}
		.calendar_wrap{
			table{
				margin: 0;
			}
		}
	}
}


.footer-area{
	.widget_calendar{
		#calendar_wrap{
			tbody td, th{
				left: 0px;
			}
			td a::before{
				width: 20px;
				height: 20px;
				top: -2%;
				left: -5%;
			}
		}
	}
}


.widget_calendar {

	h4.widget-title {
		margin: 0 0 24px 0;
	}

	#calendar_wrap {
		table {
			margin: 0;
		}

		caption {
			@include font-size(1);
			padding: 15px 10px;
			border-radius: 0;
			margin-bottom: 26px;
		}

		th {
			font-size: 14px;
			font-weight: 300;
			padding: 0 0 13px 0;
			border-bottom: none;
			text-align: center;
			position: relative;
		}

		thead {
			th {
				font-weight: 500;
				padding-bottom: 20px;
				color: #232222;
			}
		}

		tfoot {
			#prev, #next {
				padding: 16px 13px 15px;
			}
			a {
				color: #232222;
			}
		}

		tbody {
			#today {
				color: #000;
			}
			td {
				padding: 9px 0 10px 0;
				width: auto;
				text-align: center;
				position: relative;

				a {
					position: relative;
					display: inline-block;
					width: 20px;
					z-index: 1;
					@include transition(all 0.5s ease);

					&:before {
						content: '';
						position: absolute;
						width: 48px;
						height: 48px;
						top: -14px;
						left: -14px;
						z-index: -1;
						display: block;
						opacity: 1;
						margin-left: 0px;
						transition: all .3s ease;
						@include transform(scale(1, 1));
						background: #232222;
					}

					&:hover {
						&:before {
							opacity: 1;
							background: #666;
							transition: all .3s ease;
							@include transform(scale(1, 1));
						}
					}
				}
			}

			tr:first-child > td {
				padding: 8px 0 10px 0;
			}
		}

		#prev, #next {
			font-size: 14px;;
			padding: 1px 0 0 0;
		}

		#prev {

		}

		#next {
			text-align: right;
		}
	}

	@media (max-width: 992px) {
		h4 {
			margin: 0 0 15px 0;
		}

		#calendar_wrap {
			table {
				margin: 0;
			}
		}
	}
}


@media (max-width: 1699px) {
	.widget_calendar #calendar_wrap tbody td a:before {
			width: 20px;
			height: 20px;
			top: 0;
			left: 0px;
		}
}

/*--------------------------------------------------------------
# Widget Tag Cloud
--------------------------------------------------------------*/
.widget_tag_cloud{
	.tagcloud{
		margin: 19px -5px 3px;
		a{
			font-size: 16px !important;
			font-size: 1rem !important;
			padding: 12px 30px;
			border: 1px #e0e0e8 solid;
			border-radius: $border__radius;
			text-decoration: none;
			display: inline-block;
			margin: 5px 3px;
			&:hover {
				border: 0px transparent solid;
				padding: 13px 31px;
			};
		}
		@media  ( min-width: 768px ) and ( max-width: 992px ) {
			margin: 19px -2px;
			a{
				font-size: 12px !important;
				font-size: 0.8rem !important;
				padding: 6px 10px;
				margin: 2px 1px;
			}
		}
	}
}
/*--------------------------------------------------------------
# Widget Recent Posts and Recent Comments
--------------------------------------------------------------*/
/* Recent Posts */
.widget_recent_entries{
	ul{
		li{
			margin: 0 0 24px 0;
			a{
				display: inline-block;
				margin-bottom: 6px;
			}
			.post-date{
				font-size: 14px;
				position: relative;
				display: block;
				margin: 10px 0 0 21px;
				&::before {
					@include material-icon();
					content: "event";
					position: absolute;
					font-size: 16px;
					top: 3px;
					left: -23px;
				}
			}
		}
	}
}
/* Recent Comments */
.widget_recent_comments{
	ul{
		li{
			margin: 21px 0 0 0;
			font-size: 14px;
			> a {
				@include font-size(1);
			}
		}
	}
}
/* Recent Posts  & Recent Comments */
.widget_recent_comments, .widget_recent_entries{
	h4{
		margin-bottom:18px;
	}
	ul{
		li{
			padding-top: 21px;
			&:first-child{
				border-top: none;
				padding-top: 0;
			}
			&::before {
				display: none;
			}
		}
	}
}




.widget.widget_search .search-form{
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	select,
	textarea {
		&:focus {
			box-shadow: none;
			outline: none;
		}
		&:-input-placeholder{
			color: #f4f4f4;
		}
		&::-webkit-input-placeholder {
			color: #f4f4f4;
		}
		&::-moz-placeholder {
			color: #f4f4f4;
		}
		&:-moz-placeholder {
			color: #f4f4f4;
		}
		&:-ms-input-placeholder {
			color: #f4f4f4;
		}
	}
}