.follow-block {
	padding: 0 0 20px;
	.sidebar-primary &,
	.sidebar-secondary &,
	.footer-area & {
		text-align: center;
	}
}
.subscribe-block {
	padding: 0 0 20px;
	.sidebar-primary &,
	.sidebar-secondary &,
	.footer-area & {
		text-align: center;
	}
	.follow-block + & {
		border-top: 1px dotted $color__background-hr;
		padding: 10px 0;
		@include media-breakpoint-up(lg) {
			padding: 20px 0;
		}
		.sidebar-primary &,
		.sidebar-secondary & {
			margin: 0 -10px 0;
			padding-left: 10px;
			padding-right: 10px;
			@include media-breakpoint-up(lg) {
				margin: 0 -30px 0;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
		.footer-area & {
			border-top: 1px solid rgba(255,255,255,.2);
		}
	}
	&__input-group {
		display: -webkit-flex;
		display: block;
		padding: 0 15px;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: center;
		-ms-flex-pack: start;
		justify-content: center;
		-webkit-align-content: stretch;
		align-content: stretch;
		@include media-breakpoint-up(md) {
			display: flex;
			padding: 0;
		}
		.sidebar-primary &,
		.sidebar-secondary &,
		.footer-area & {
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
		}
		.footer-area & {
			@include media-breakpoint-up(lg) {
				margin-left:auto;
				margin-right:auto;
				width:40%;
			}
		}
	}
	&__input[type="email"] {
		width: 100%;
		-webkit-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		flex: 1 1 0;
		-webkit-align-self: auto;
		align-self: auto;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		margin-bottom: 9px;
		.footer-area & {
			&:focus {
				box-shadow: none;
				background: #fff;
			}
		}
		@include media-breakpoint-up(md) {
			margin-right: 10px;
			max-width: calc(100% - 50px);
			width: auto;
			margin-bottom: 0;
		}
		@include media-breakpoint-up(xl) {
			max-width: 60%;
		}
		.sidebar-1-4 & {
			max-width: calc(100% - 50px);
		}
	}
	&__submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		-webkit-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-align-self: auto;
		align-self: auto;
		max-width: 100%;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 0;
		@include media-breakpoint-up(md){
			max-width: 40%;
			width: auto;
		}

		@include media-breakpoint-up(xl) {
			@include font-size(1);
			&:before {
				display: none;
			}
		}
		.sidebar-1-4 & {
			font-size: 0;
			&:before {
				display: inline-block;
			}
		}
	}
	&__message {
		padding: 0 0 15px;
		.footer-area & {
			padding-bottom: 20px;
		}
	}
}