.search-form {
	margin: 0;
	padding: 28px 0 10px;
	display: flex;
	.top-panel & {
		padding: 0;
	}
	label{
		flex: 0 1 100%;
		margin-right: 10px;
	}
	&:after {

	}
	&__field[type="search"] {
		vertical-align: top;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 100%;
		box-sizing: border-box;
		.top-panel & {
			background: none;
			border: none;
			padding: 6px 10px;
			box-shadow: none;
			width: 90px;
		}
	}
	&__submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		vertical-align: top;
		white-space: nowrap;
		i.material-icons {
			margin: 0 auto;
			display: block;
			@include font-size( 1.5 );
			line-height: 20px;
			height: 20px;
		}
		.top-panel & {
			padding: 5px 0;
			background: none;
			&:hover {
				background: none;
			}
			&:active,
			&:focus,
			&:hover {
				box-shadow: none;
			}
		}
	}
}