.widget {
	margin: 0 0 10px;
	@include media-breakpoint-up(lg) {
		margin-bottom: 30px;
	}
	.sidebar-primary &,
	.sidebar-secondary &,
	.before-content-area &,
	.after-content-area &,
	.before-loop-area &,
	.after-loop-area & {
		@include card;
	}
	select {
		max-width: 100%;
	}
}

.full-width-header-area {
	margin: -30px 0 0 0;
}


.tm_banners_grid_widget_banner {
	.tm_banners_grid_widget_banner_wrapper {
		width: 100%;
		.tm_banners_grid_widget_banner_link,
		.tm_banners_grid_widget_banner_link img,
		img {
			width: 100%;
		}
	}
	.tm_banners_grid_widget_banner_link img {
		width: 100%;
	}
}