#toTop {
	color: $invert_link_color;
	background: $regular_accent_color_1;
}
#toTop:before {
	color: $regular_accent_color_1;
}
#toTop span{
	color: $regular_accent_color_2;
}
#toTop:hover {
	background: #282828;
}
#toTop:hover span{
	color: $invert_link_color;
}

.tm-folding-cube .tm-cube:before {
	background-color: $regular_accent_color_1;
}