a {
	color: $regular_link_color;
}

a:hover, a:focus, a:active{
	color: $regular_link_hover_color;
}

a[href*='callto:']{
	color: $regular_h3_color;
}

a[href*='callto:']:hover{
	color: $regular_link_hover_color;
}

a[href*='mailto:']{
	text-decoration: underline;
}

.btn,
.comment-form .submit,
.wpcf7-submit,
.post-password-form label + input {
	color: $invert_link_color;
	background: $regular_accent_color_1;
}
.btn:hover,
.comment-form .submit:hover,
.wpcf7-submit:hover,
.post-password-form label + input:hover {
	color: $invert_link_color;
	background: $regular_accent_color_4;
}
.btn:focus,
.wpcf7-submit:focus,
.comment-form .submit:focus {
	color: $invert_link_color;
	background: $regular_accent_color_1;
}

.btn.btn-secondary,
.invert .btn {
	background: $regular_accent_color_2;
}
.btn.btn-secondary:hover,
.invert .btn:hover {
	background: @darken( $invert_accent_color_2, 15 );
	color: $invert_link_color;
}

blockquote {
	color: $regular_accent_color_1;
}

blockquote q{
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: @font_size($h2_font_size, multiple, ceil, 1)px;
	line-height: $h2_line_height;
	font-family: $h2_font_family;
	color: $regular_accent_color_1;
}
blockquote p{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, 1)px;
	line-height: $h6_line_height;
	font-family: $h6_font_family;
	color: $regular_text_color;
}
blockquote:before{
	color: $regular_accent_color_1;
	font-family: $h2_font_family;
}
blockquote cite {
	text-transform: uppercase;
	color: $regular_h3_color;
}
@media (max-width: 479px) {
	blockquote p, blockquote q {
		font-size: 22px;
	}
}

.single-format-quote blockquote {
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
}

.single-format-quote blockquote:before,
.single-format-quote blockquote cite {
	color: $regular_accent_color_1;
}

ul, ol {
	color: $regular_text_color;
}

ul li:before, ol li:before {
	color: $regular_accent_color_1;
}

ul li a, ol  li a{
	color: $regular_text_color;
}

ul li a:hover, ol  li a:hover{
	color: $regular_accent_color_1;
}

code {
	color: $invert_text_color;
	background: $regular_accent_color_1;
}

.contact-form-wrap span{
	color: $regular_accent_color_1;
}

footer a{
	color: $regular_accent_color_1;
}

footer a:hover{
	color: #fff;
}

footer .invert .widget ul li a, footer .invert .widget ul li a{
	color: $regular_accent_color_1;
}

footer .invert .widget ul li a:hover, footer .invert .widget ul li a:hover{
	color: #fff;
}

footer .comment-author-link{
	color: $regular_accent_color_1;
}

footer .widget ul li.recentcomments{
	color: $regular_accent_color_2;
}

footer .widget ul li.recentcomments a{
	color: #fff;
	font-size: 16px;
}

footer .widget ul li.recentcomments a:hover{
	color: $regular_accent_color_1;
}

footer .footer-text-center{
	color: #fff;
}

footer .widget.widget_recent_entries ul li > a{
	color: #fff;
}

footer .widget.widget_recent_entries ul li > a:hover{
	color: $regular_accent_color_1;
}

footer.site-footer .widget_recent_entries ul li .post-date:before{
	color: $regular_accent_color_1;
}

.rd-material-tab.rd-material-tab-active a{
	color: $regular_accent_color_1;
}

.tm-products-smart-box-widget__rd-material-tabs{
	border-top: 2px solid $regular_text_color;
}

.tm-products-smart-box-widget__rd-material-tabs > .row > .col-lg-3{
	background: #f5f5f7;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
	background-clip: content-box;
}

.tm-products-smart-box-widget__rd-material-tabs .product h3{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, 1)px;
	line-height: $h6_line_height;
	font-family: $h6_font_family;
	letter-spacing: $h6_letter_spacing{px};
	text-align: $h6_text_align;
	color: $regular_h6_color;
	text-transform: none;
}

.tm-products-smart-box-widget__rd-material-tabs .product .price .amount{
	font-style: normal;
	font-weight: 700;
	font-size: @font_size($h4_font_size, multiple, ceil, 0.8333333333333333)px;
	line-height: $h4_line_height;
	font-family: $h4_font_family;
	letter-spacing: $h4_letter_spacing{px};
	text-align: $h4_text_align;
	text-transform: none;
}

.tm-products-smart-box-widget__rd-material-tabs .widget-title{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: @font_size($h3_font_size, multiple, ceil, 1)px;
	line-height: $h3_line_height;
	font-family: $h3_font_family;
	letter-spacing: $h3_letter_spacing{px};
	text-align: $h3_text_align;
	text-transform: none;
	text-transform: uppercase;
}

.tm_custom_menu_widget{
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: solid $regular_text_color;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: solid $regular_text_color;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: solid $regular_text_color;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: solid $regular_text_color;
}

.tm_custom_menu_widget .widget-title:first-line {
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: @font_size($h3_font_size, multiple, ceil, 1)px;
	line-height: $h3_line_height;
	font-family: $h3_font_family;
	letter-spacing: $h3_letter_spacing{px};
	text-align: $h3_text_align;
	text-transform: none;
	text-transform: uppercase;
}

.tm_custom_menu_widget .widget-title {
	font-size: @font_size($h3_font_size, multiple, ceil, 1)px;
	line-height: $h3_line_height;
}

.breadcrumbs .breadcrumbs__item .breadcrumbs__item-link:hover{
	color: $regular_accent_color_1;
}