.swiper-pagination .swiper-pagination-bullet{
	background-color: $regular_accent_color_1;
}
.swiper-button-next, .swiper-button-prev{
	color: $regular_text_color;
	background: white;
}
.swiper-container .swiper-button-next i, .swiper-container .swiper-button-prev i {
	color: $invert_link_color;
}
.swiper-button-next:hover{
	color: $invert_link_color;
	background: white;
}
.swiper-button-prev:hover{
	color: $invert_link_color;
	background: white;
}

.footer-area .swiper-wrapper .post .inner{
	background-color: $regular_accent_color_2;
}