.share-btns {
	&__list {
		.posts-list & {
			margin-top: 15px;
			@include media-breakpoint-up(lg) {
				margin-top: 35px;
			}
		}
		.single-post & {
			margin-top: 6px;
			@include media-breakpoint-up(sm) {
				float: right;
			}
		}
	}
	&__item {
		display: inline-block;
		vertical-align: top;

		& + .share-btns__item {
			margin-left: 20px;
		}

	}
	&__link {
		display: block;
		width: 24px;
		height: 24px;
		@include font-size(1);
		line-height: 24px;
		text-decoration: none;
		text-align: center;
		color: #d8d7d7;
		&:hover {
			color: #232222;
		}
	}
}