a {
	color: $regular_link_color;
}

a:hover, a:focus, a:active{
	color: $regular_link_hover_color;
}

a[href*='callto:']{
	color: $regular_link_hover_color;
}

a[href*='callto:']:hover{
	color: $regular_link_color;
}

a[href*='mailto:']{
	text-decoration: underline;
}

.btn,
.comment-form .submit,
.wpcf7-submit,
.post-password-form label + input {
	color: $invert_link_color;
	background: $regular_accent_color_1;
	background: -webkit-linear-gradient(to right, $regular_accent_color_1 0%, @darken( $regular_accent_color_1, 10% ) 100%);
	background: linear-gradient(to right, $regular_accent_color_1 0%, @darken( $regular_accent_color_1, 10% ) 100%);
}
.btn:hover,
.comment-form .submit:hover,
.wpcf7-submit:hover,
.post-password-form label + input:hover {
	color: $invert_link_color;
	background: $regular_accent_color_2;
	background: -webkit-linear-gradient(to right, $regular_accent_color_2 0%, @darken( $regular_accent_color_2, 10% ) 100%);
	background: linear-gradient(to right, $regular_accent_color_2 0%, @darken( $regular_accent_color_2, 10% ) 100%);
}
.btn:focus,
.wpcf7-submit:focus,
.comment-form .submit:focus {
	box-shadow: 0 0 8px $regular_accent_color_1;
}

.btn.btn-secondary,
.invert .btn {
	background: $invert_accent_color_2;
}
.btn.btn-secondary:hover,
.invert .btn:hover {
	background: @darken( $invert_accent_color_2, 15 );
	color: $invert_link_color;
}

blockquote {
	color: $regular_accent_color_1;
}

blockquote q, blockquote p{
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, ceil, 1)px;
	line-height: $h4_line_height;
	font-family: $h4_font_family;
	color: $regular_text_color;
}
blockquote:before{
	color: $regular_accent_color_1;
	font-family: $h1_font_family;
}
blockquote cite {
	color: $regular_text_color;
}
@media (max-width: 479px) {
	blockquote p, blockquote q {
		font-size: 22px;
	}
}

.single-format-quote blockquote {
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
}

.single-format-quote blockquote:before,
.single-format-quote blockquote cite {
	color: $regular_accent_color_1;
}

ul, ol {
	color: $regular_text_color;
}

ul li:before, ol li:before {
	color: $regular_accent_color_1;
}

ul li a, ol  li a{
	color: $regular_text_color;
}

ul li a:hover, ol  li a:hover{
	color: $regular_accent_color_1;
}

code {
	color: $invert_text_color;
	background: $regular_accent_color_1;
}

.contact-form-wrap span{
	color: $regular_accent_color_1;
}

footer a{
	color: $regular_accent_color_1;
}

footer a:hover{
	color: #fff;
}

footer .invert .widget ul li a, footer .invert .widget ul li a{
	color: $regular_accent_color_1;
}

footer .invert .widget ul li a:hover, footer .invert .widget ul li a:hover{
	color: #fff;
}

footer .comment-author-link{
	color: $regular_accent_color_1;
}

footer .widget ul li.recentcomments{
	color: $regular_accent_color_2;
}

footer .widget ul li.recentcomments a{
	color: #fff;
}

footer .widget ul li.recentcomments a:hover{
	color: $regular_accent_color_1;
}

footer .footer-text-center{
	color: #fff;
}