.post__cats a,
.sticky__label {
	color: $invert_link_color;
	background: $regular_accent_color_1;
	background: -webkit-linear-gradient(to right, $regular_accent_color_1 0%, @darken( $regular_accent_color_1, 10% ) 100%);
	background: linear-gradient(to right, $regular_accent_color_1 0%, @darken( $regular_accent_color_1, 10% ) 100%);
}
.post__cats a:hover{
	color: $invert_link_color;
	background: $regular_accent_color_2;
	background: -webkit-linear-gradient(to right, $regular_accent_color_2 0%, @darken( $regular_accent_color_2, 10% ) 100%);
	background: linear-gradient(to right, $regular_accent_color_2 0%, @darken( $regular_accent_color_2, 10% ) 100%);
}
.invert .post__cats a:hover{
	color: $regular_link_color;
	background: $invert_accent_color_1;
}
.post .material-icons{
	color: @alpha($regular_accent_color_1, 30);
}
.post-author,
.posted-by,
.post-featured-content {
	color: $regular_accent_color_2;
}
.post-featured-content.format-quote.invert {
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
}
.post__tags {
	color: $regular_link_color;
}
.post-author__holder {
	background-color: $regular_link_color;
}
.post-author__title a:hover {
	color:$invert_link_hover_color;
}
.post-format-link {
	background: @alpha( $regular_accent_color_1, 80 );
}
.post-format-quote {
	color: $invert_text_color;
}
.post-format-quote:before,
.post-format-quote cite,
#cancel-comment-reply-link {
	color: $regular_accent_color_1;
}

#cancel-comment-reply-link:hover {
	color: $regular_accent_color_2;
}