.cosmetro-smartslider .sp-arrows .sp-arrow{
	background: #000;
	color: #fff;
}
.cosmetro-smartslider .sp-arrows .sp-next-arrow:hover{
	color: #000;
	background: #fff;
}
.cosmetro-smartslider .sp-arrows .sp-previous-arrow:hover{
	color: #000;
	background: #fff;
}

.sp-image-container {
	position: relative;
}
.sp-image-container:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: @alpha( $regular_text_color, 50 );
}

h2.sp-title {
	font-family: $h3_font_family;
	font-style: $h3_font_style;
}