.widget-taxonomy-tiles__content::before{
	background: $regular_accent_color_1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

}
.widget-taxonomy-tiles__inner:hover .widget-taxonomy-tiles__content::before {
	background: $regular_accent_color_2;
}
.widget-taxonomy-tiles__content a:active,
.widget-taxonomy-tiles__content a:hover{
	color: $regular_h3_color;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.widget-taxonomy-tiles {
	color: #fff;
	font-size: 14px;
}

.widget.widget_nav_menu ul{
	margin-top: 0;
}