.widget ul li {
	color: $regular_link_color;
}

/* invert color */
.invert .widget ul li, .invert .widget ul li a {
	color: $invert_link_color;
}
.invert .widget ul li a:hover {
	color: $invert_link_hover_color;
}
.invert .widget select{
	color: $invert_accent_color_2;
}
/*--------------------------------------------------------------
# Widget calendar
--------------------------------------------------------------*/
.widget_calendar #calendar_wrap caption {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: @font_size($h5_font_size, multiple, ceil, 1)px;
	line-height: $h5_line_height;
	font-family: $h5_font_family;
	letter-spacing: $h5_letter_spacing{px};
	text-transform: none;
	text-transform: uppercase;
	color: #fff;
	background: $regular_accent_color_1;
}
.widget_calendar #calendar_wrap {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: @font_size($h5_font_size, multiple, ceil, 1)px;
	line-height: $h5_line_height;
	font-family: $h5_font_family;
	letter-spacing: $h5_letter_spacing{px};
	text-transform: none;
	text-transform: uppercase;
}
.widget_calendar #calendar_wrap th{
	color: $regular_text_color;
}
.widget_calendar #calendar_wrap tbody td a{
	color: #fff;
}

/* invert color */
.invert .widget_calendar #calendar_wrap caption{
	color: $invert_accent_color_1;
	background: $regular_accent_color_2;
}
.invert .widget_calendar #calendar_wrap th{
	color: $regular_accent_color_2;
}
.invert .widget_calendar #calendar_wrap a{
	color: $invert_link_color;
}
.invert .widget_calendar #calendar_wrap a:hover{
	color: $regular_accent_color_1;
}
.invert .widget_calendar #calendar_wrap tr td a:before{
	background-color: $invert_accent_color_3;
}
.invert .widget_calendar #calendar_wrap tr td a:hover:before{
	background-color: #fff;
}
.invert .widget_calendar #calendar_wrap tr td a:hover{
	color: $regular_accent_color_1;
}
.site-footer .yith-woocompare-widget .clear-all:hover{
	color: $regular_accent_color_1;
}
/* invert color */
// .invert .widget_calendar #calendar_wrap caption{
// 	color: $regular_text_color;
// 	background: #fff;
// }
// .invert .widget_calendar #calendar_wrap th{
// 	color: $regular_accent_color_1;
// }
// .invert .widget_calendar #calendar_wrap tfoot a{
// 	color: $regular_accent_color_1;
// }
// .invert .widget_calendar #calendar_wrap a{
// 	color: $regular_text_color;
// }
// .invert .widget_calendar #calendar_wrap a:hover{
// 	color: #fff;
// }
// .invert .widget_calendar #calendar_wrap tr td a:before{
// 	color: $regular_text_color;
// 	background-color: #fff;
// }
// .invert .widget_calendar #calendar_wrap tr td a:hover:before{
// 	background-color: $regular_accent_color_1;
// }
/*--------------------------------------------------------------
# Widget Tag Cloud
--------------------------------------------------------------*/
.widget_tag_cloud .tagcloud a, .widget_product_tag_cloud .tagcloud a{
	color: $regular_text_color;
}
.widget_tag_cloud .tagcloud a:hover, .widget_product_tag_cloud .tagcloud a:hover{
	color: $regular_accent_color_1;
}

/* invert color */
.invert .widget_tag_cloud .tagcloud a{
	color: @contrast($invert_text_color, #fff, $invert_text_color);
}
.invert .widget_tag_cloud .tagcloud a:hover{
	color: $invert_accent_color_1;
	background: $regular_accent_color_2;
}
/*--------------------------------------------------------------
# Widget Recent Posts
--------------------------------------------------------------*/
.widget_recent_entries ul li a, .widget_recent_comments ul li > a{
	color: $regular_link_hover_color;
}
.widget_recent_entries ul li a:hover, .widget_recent_comments ul li > a:hover{
	color: $regular_link_color;
}
.widget_recent_entries ul li .post-date::before{
	color: @alpha($regular_accent_color_1, 30);
}

/* invert color */
.invert .widget_recent_entries ul li a, .invert .widget_recent_comments ul li>a{
	color: $invert_link_hover_color;
}
.invert .widget_recent_entries ul li a:hover, .invert .widget_recent_comments ul li>a:hover{
	color: $invert_link_color;
}
.invert .widget_recent_entries ul li .post-date::before{
	color: @alpha($regular_accent_color_1, 30);
}

.sidebar-primary .widget .products-list li, .sidebar-secondary .widget .products-list li{
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, ceil, 1)px;
	line-height: $h4_line_height;
	font-family: $h4_font_family;
	letter-spacing: $h4_letter_spacing{px};
	text-align: $h4_text_align;
	text-transform: none;
	color: $regular_text_color;
}

.sidebar-primary .widget a.button.compare, .sidebar-secondary .widget a.button.compare {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: @font_size($h5_font_size, multiple, ceil, 1)px;
	line-height: $h5_line_height;
	font-family: $h5_font_family;
	letter-spacing: $h5_letter_spacing{px};
	text-align: $h5_text_align;
	text-transform: uppercase;
	color: $regular_text_color;
	color: #fff;
	background: $regular_h3_color;
}

.sidebar-primary .widget a.button.compare:hover, .sidebar-secondary .widget a.button.compare:hover {
	color: #fff;
	background: $regular_text_color;
}

.sidebar-primary .widget .product_list_widget > li .reviewer span, .sidebar-secondary .widget .product_list_widget > li .reviewer span{
	color: $regular_accent_color_1;
}

.sidebar-primary .widget .product_list_widget > li .widget_title_product, .sidebar-secondary .widget .product_list_widget > li .widget_title_product,
.sidebar-primary.widget-area .widget .product_list_widget > li .product_title_link > a, .sidebar-secondary.widget-area .widget .product_list_widget > li .product_title_link > a {
	color: $regular_text_color;
}

.sidebar-primary .widget .product_list_widget > li .widget_title_product:hover, .sidebar-secondary .widget .product_list_widget > li .widget_title_product:hover,
.sidebar-primary.widget-area .widget .product_list_widget > li .product_title_link > a:hover, .sidebar-secondary.widget-area .widget .product_list_widget > li .product_title_link > a:hover{
	color: $regular_accent_color_1;
}

.sidebar-primary .widget_recent_comments .recentcomments, .sidebar-secondary .widget_recent_comments .recentcomments{
	color: $regular_h3_color;
}
.sidebar-primary .widget_recent_comments .recentcomments a, .sidebar-secondary .widget_recent_comments .recentcomments a{
	color: $regular_h3_color;
	font-style: normal;
}
.sidebar-primary .widget_recent_comments .recentcomments span, .sidebar-secondary .widget_recent_comments .recentcomments span{
	color: $regular_accent_color_1;
	font-style: normal;
}
.sidebar-primary .widget_recent_comments .recentcomments a:hover, .sidebar-secondary .widget_recent_comments .recentcomments a:hover{
	color: $regular_accent_color_1;
	font-style: normal;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	background: $regular_text_color;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
	background: $regular_accent_color_2;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background: #e8e8eb;
}

.woocommerce .widget_price_filter .price_slider_amount {
	text-align: left;
	line-height: 3.5;
	font-size: 1em;
}

.sidebar-primary .widget_recent_entries li .post-author , .sidebar-secondary .widget_recent_entries li .post-author {
	color: $regular_text_color;
}

.sidebar-primary .widget_recent_entries li .post-author a, .sidebar-secondary .widget_recent_entries li .post-author a {
	color: $regular_accent_color_1;
}

.sidebar-primary .widget_recent_entries li .post-author a:hover, .sidebar-secondary .widget_recent_entries li .post-author a:hover {
	color: $regular_text_color;
}


.sidebar-primary .widget.widget_recent_entries ul li > a:hover, .sidebar-secondary .widget.widget_recent_entries ul li > a:hover{
	color: $regular_accent_color_1;
}

.widget_product_search form button{
	color: #fff;
	background: $regular_accent_color_1;
}

.widget_product_search form button:hover{
	color: #fff;
	background: $regular_text_color;
}

.sidebar-primary .widget > ul > li > a, .sidebar-secondary .widget > ul > li > a{
	font-size: 14px;
}

.sidebar-primary .widget_recent_comments ul li > a, .sidebar-secondary .widget_recent_comments ul li > a{
	font-size: 14px;
}

.sidebar-primary .widget .product_list_widget > li .widget_title_product, .sidebar-secondary .widget .product_list_widget > li .widget_title_product, .sidebar-primary.widget-area .widget .product_list_widget > li .product_title_link > a, .sidebar-secondary.widget-area .widget .product_list_widget > li .product_title_link > a{
	font-size: 16px;
	line-height: 22px;
}

.about-author_btn.btn.btn-secondary{
	background: $regular_accent_color_1;
	color: #fff;
}

.invert .about-author_btn.btn.btn-secondary:hover{
	background: #fff;
	color: $regular_text_color;
}

/*--------------------------------------------------------------
# Widget Cart List
--------------------------------------------------------------*/
.widget.woocommerce.widget_shopping_cart {
	font-family: $h3_font_family;
	font-weight: 700;
	color: $regular_h3_color;
}
.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .cart_list li .quantity .amount {
	font-family: $h3_font_family;
	font-weight: 700;
	color: $regular_h3_color;
	display: block;
	font-size: 20px;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .cart_list li .remove + a{
	font-family: $h6_font_family;
	font-size: @font_size($h6_font_size, multiple, ceil, 1)px;
	line-height: $h6_line_height;
	text-transform: uppercase;
	color: $regular_h3_color;
	padding-top: 30px;
}
.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .cart_list li .remove + a img{
	margin-top: 0;
}
@media (min-width: 992px) {
	.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .cart_list li .remove + a{
		padding-top: 60px;
	}
	.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .cart_list li .remove + a img{
	margin-top: -30px;
}
}


.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .total {
	font-family: $h3_font_family;
	font-size: @font_size($h4_font_size, multiple, ceil, 1)px;
	line-height: $h4_line_height;
	text-transform: uppercase;

}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .total strong {
	color: $regular_h3_color;
	font-weight: 700;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .total .amount {
	font-family: $h3_font_family;
	color: $regular_h3_color;
	font-weight: 700;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons .button {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: @font_size($h5_font_size, multiple, ceil, 1)px;
	line-height: 20px;
	font-family: $h5_font_family;
	letter-spacing: 0.56px;
	color: #fff;
	background: $regular_h3_color;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons .button:hover {
	color: #fff;
	background: $regular_accent_color_2;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons .button.checkout {
	background: $regular_accent_color_1;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons .button.checkout:hover {
	background: $regular_accent_color_2;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .cart_list li a.remove:hover:before {
	/* color: $regular_text_color; */
}

.invert .widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .total strong{
	color: #fff;
}

.invert .widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .cart_list li a.remove:hover:before {
	color: #fff;
}

.invert .widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons .button {
	color: $regular_text_color;
	background: #fff;
}

.invert .widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons .button:hover {
	color: #fff;
	background: $regular_accent_color_1;
}

.invert .widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons .button.checkout {
	color: #fff;
	background: $regular_accent_color_1;
}

.invert .widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons .button.checkout:hover {
	color: $regular_text_color;
	background: #fff;
}

.invert .swiper-container .swiper-wrapper .swiper-slide .inner:hover{
	background: $regular_accent_color_2;
}

.invert .swiper-container .swiper-wrapper .swiper-slide .inner a:hover{
	color: $regular_text_color;
}

.invert .swiper-container .swiper-wrapper .swiper-slide .inner .btn:hover,
.invert .swiper-container .swiper-wrapper .swiper-slide .inner .btn:hover span,
.invert .swiper-container .swiper-wrapper .swiper-slide .inner .btn:hover i{
	color: $regular_text_color;
}

.invert .swiper-pagination .swiper-pagination-bullet{
	background: $regular_accent_color_2;
}

.widget-area .widget-subscribe{
	background: $regular_h3_color;
}
.widget-area .widget-subscribe input{
	font-size: 14px;
	background: #393939;
}
.widget-area .widget-subscribe .btn{
	background: $regular_accent_color_1;
}
.widget-area .widget-subscribe .btn{
	color: #fff;
}
.widget-area .widget-subscribe .btn:hover{
	color: #fff;
	background: $regular_accent_color_2;
}

.footer-area.widget-area .widget-subscribe{
	background: transparent;
}

.footer-area .tm_about_store_widget {
	background-color: transparent !important;
}

.invert .tm_about_store_widget h4{
	color: #fff;
}

.footer-area .tm_about_store_widget h4{
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: $h4_font_family;
	letter-spacing: $h4_letter_spacing{px};
	text-align: $h4_text_align;
}

.widget_calendar #calendar_wrap tfoot a:hover {
	color: $regular_accent_color_1;
}