.site-header.centered {
	.site-branding {
		text-align: center;
	}
	.social-list {
		text-align: center;
		padding: 15px 0 0 0;
	}
	.main-navigation {
		text-align: center;
		padding: 15px 0 0 0;
		
		ul.menu {
			> li:last-child {
				margin-right: 0;
			}
		}
	}
}