.top-panel__message .material-icons {
	color: $regular_accent_color_1;
}

.top-panel__menu-list li a {
	color: $regular_accent_color_2;
}

.top-panel__menu-list li a:hover {
	color: $regular_accent_color_1;
}

.top-panel__menu-list li.current-menu-item a,
.top-panel__menu-list li.current_page_item a {
	color: white;
}

.woocommerce-currency-switcher-form .dd-selected{
	background: $regular_text_color;
	color: #fff;
}
.rd-mobilemenu .lang_sel_sel, .rd-mobilemenu #lang_sel ul li a{
	background: $regular_h3_color !important;
}
.rd-mobilemenu #lang_sel ul ul {
  border-top: none;
}

.site-header .top-panel__wrap .widget_product_search form button {
	color: #fff;
}

.site-header .top-panel__wrap .widget_product_search form button:hover {
	color: $regular_accent_color_1;
}


.dd-options{
	background: $regular_text_color;
}

.woocommerce-currency-switcher-form .dd-container .dd-options .dd-option {
	background: $regular_text_color;
	color: #fff;
	font-weight: 300;
}

.site-header .top-panel__wrap .search_switcher_block .currency_switcher .woocommerce-currency-switcher-form .dd-container .dd-options li a.dd-option:hover {
	background: $regular_text_color;
	color: $regular_accent_color_1;
}

.site-header .top-panel__wrap .div_dropdown_top_menu .material-icons {
	color: #fff;
}

.site-header .top-panel__wrap .div_dropdown_top_menu .material-icons:hover {
	color: #fff;
}

.site-header .top-panel__wrap .div_dropdown_top_menu .material-icons:hover::after {
	color: #fff;
}

.site-header .top-panel__wrap .div_dropdown_top_menu .top-panel__menu{
}

.site-header .top-panel__wrap .search_switcher_block .currency_switcher .wcj_widget_multicurrency select{
	background: $regular_text_color;
	color: #fff;
	border: none;
}

.top-panel__message em {
	color: $regular_accent_color_1;
	margin-right: 4px;
}

.top-panel__message a:hover em {
	text-decoration: underline;
}