/*
* RD Mobile Menu
*/

$rd-mobilepanel-height: 54px;
$rd-button-size: 36px;
$rd-icon-size: 18px;
$rd-menu-width: 100%;

.rd-mobilemenu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9999991;
	text-align: left;
	transition: 0s;
	transition-delay: 0s;

	&.active {
		right: 0;
	}
}

.rd-mobilemenu_ul {
	position: fixed;
	top: -$rd-mobilepanel-height;
	left: 0;
	bottom: -$rd-mobilepanel-height;
	width: $rd-menu-width;
	padding: ($rd-mobilepanel-height * 2) 0 ($rd-mobilepanel-height - 20px);
	margin: 0;
	background: #fff;
	font-size: 14px;
	line-height: 20px;
	overflow-y: scroll;
	@include transform(translateX(-$rd-menu-width));
	transition: 0.3s cubic-bezier(.55, 0, .1, 1);

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: $rd-mobilepanel-height * 2;
		display: block;
		z-index: -1;
		background: #fff;
	}

	.rd-mobilemenu.active & {
		@include transform(translateX(0));
	}

	&.wpadminbar-active {
		position: absolute;
		padding: $rd-mobilepanel-height 0 ($rd-mobilepanel-height - 20px);
	}

	> li {
		border-top: 1px solid #d5d5d9;

		> a {
			text-transform: uppercase;
		}
	}

	a:not([href]){
		&.rd-with-ul {
			.rd-submenu-toggle{
				left: 0;
				width: 100%;
				text-align: right;
				cursor: pointer;

				&:after{
					padding-right: 14px;
				}
			}
		}
	}

	.rd-mobilemenu_submenu {
		margin-top: 0;
		margin-left: 0;

		li {
			position: relative;

			&:before{
				content: '';
				position: absolute;
				right: -200px;
				left: -200px;
				height: 1px;
				display: block;
				border-top: 1px solid #d5d5d9;
			}

			a {
				font-weight: 300;
				padding: 10px 42px 9.5px;
			}

			.sub-menu{
				margin-top: 0;
				margin-left: 1.5em;
			}
		}
	}

	a {
		display: block;
		padding: 14px 21px 15px;

		.rd-submenu-toggle {
			position: absolute;
			top: 0;
			right: -2px;
			margin-top: 0;
			width: 50px;
			height: 50px;
			font: 400 16px/47px "Material Icons";
			text-align: center;
			@include transition(.5s all ease);
			z-index: 1;
			background: transparent;
			&:after {
				content: '\e5cf';
			}
		}

		&.rd-with-ul {
			position: relative;
			padding: 14px 55px 15px 21px;
		}
	}

	ul a {
		padding-left: 40px;
	}

	ul ul a {
		padding-left: 60px;
	}

	&:after {
		content: '';
		display: block;
		height: 20px;
	}

	.widget {
		margin-bottom: 0;
	}
}

.rd-mobilepanel {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $rd-mobilepanel-height;
	background: #fff;
	z-index: 99999991;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0);
	transition: all .3s ease;

	&.rd-mobilepanel-isStuck {
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
	}

	.rd-mobilemenu.active + & {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
	}
}
.widget_product_search {
	position: relative;

	@media (max-width: 767px) {
		/* position: static; */
	}
}

@media (max-width: 767px) {
	body header .widget_product_search form.woocommerce-product-search.navbar-search {


	}

}

/*
* Toggle cart Contents
*/
@media (max-width: 767px) {
	body .navbar-header-cart {
		.count {
			padding-top: 9px;
			display: inline-block;
		}

	}
}

/*
* Mobile Menu Shop
*/
li.rd-mobile-menu-shop {
	border-top: none;

	a {
		padding: 9px 21px 11px;
	}

	+ .rd-mobile-menu-shop {
		margin-top: -1px;
		border-top: 1px solid #4f4e4e;
	}
}

/*
* Mobile Currency
*/
.rd-mobile-currency {
	position: relative;
	margin-top: -1px;
	border-top: 1px solid #4f4e4e;
	.chosen-container{
		max-width: none;
		display: none;
	}

	select {
		width: 100%;
		padding: 9px 18px;
		display: block !important;
		cursor: pointer;

		&:focus {
			box-shadow: none;
		}
	}

	.chosen-container-single .chosen-single {
		padding: 10px 35px 10px 19px;

		&:before {
			top: 13px;
		}
	}

	form {
		&:before {
			content: '\e5cf';
			font: 400 16px/39px "Material Icons";
			position: absolute;
			top: 0;
			right: 15px;
			z-index: 1;
			color: #fff;
			pointer-events: none;
		}
	}
}

/*
* Mobile Languages
*/
#lang_sel.rd-mobile-lang {
	max-width: 100%;
	height: 40px;
	margin-top: -1px;
	border-top: 1px solid #4f4e4e;

	ul li a {
		padding: 9px 20px;
		border: none;
	}

	> ul > li > a:after {
		content: '\e5cf';
		font: 400 16px/39px "Material Icons";
		position: absolute;
		top: 20px;
		right: 15px;
		z-index: 1;
		color: #fff;
		pointer-events: none;
	}
}

/*
* Mobile Social List
*/
.rd-mobile-social-list {
	padding: 18px 22px 16px;
	border-top: 1px solid #4f4e4e;

	ul a {
		padding: 0;
	}

	.social-list__items {
		padding-left: 0;
s
		li {
			display: inline-block;
		}
	}
}

/*
* Mobilepanel Toggle Presets
*/
@mixin button-lines() {
	span {
		position: relative;
		display: block;
		margin: auto;
		transition: all .3s ease;

		&:after,
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: (round($rd-icon-size / 3) - 1);
			transition: all .3s ease;
		}

		&:after {
			top: (round(-$rd-icon-size / 3) + 1);
		}

		&:after,
		&:before,
		& {
			width: $rd-icon-size;
			height: round($rd-icon-size / 9);
			backface-visibility: hidden;
		}
	}
}

@mixin button-lines__cross() {
	span {
		&:before, &:after {
			-webkit-transition-duration: 0.3s, 0.3s;
			transition-duration: 0.3s, 0.3s;
			-webkit-transition-delay: 0.3s, 0s;
			transition-delay: 0.3s, 0s;
			-webkit-transition-property: top, -webkit-transform;
			transition-property: top, transform;
		}
	}

	&.active span {
		@include transform(rotate(180deg));
		transition: background .3s 0s ease;
		background: transparent;

		&:before, &:after {
			top: 0;
			-webkit-transition-delay: 0s, 0.3s;
			transition-delay: 0s, 0.3s;
		}
		&:before {
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:after {
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
}

/*
* Mobilepanel Toggle
*/
.rd-mobilepanel_toggle {
	position: fixed;
	top: 9px;
	left: 14px;
	width: $rd-button-size;
	height: $rd-button-size;
	padding: 0;
	background: transparent;

	&:before {
		position: absolute;
		display: inline-block;
		content: '\e7fd';
		left: 0;
		top: 10px;
		font-family: 'Material Icons';
		font-size: 21px;
		transition: .4s all ease;
	}

	&:hover:before {
		opacity: 0.6;
	}
}

/*
* Wpadminbar active
*/
.wpadminbar-active {
	.rd-mobilepanel, header .navbar-search-toggle, .site-header-cart, .rd-mobilepanel_toggle, .navbar-search.search-active {
		transition: 0s !important;
		transition-delay: 0s !important;
	}
}

.absolute {
	position: absolute !important;
}

.offset-navbar-adminbar-active {
	position: absolute !important;
	margin-top: 46px !important;
	transition: 0s !important;
	transition-delay: 0s !important;
}
.widget_product_search form.offset-navbar-adminbar-active-search {
	position: relative;
	transition: 0s !important;
	transition-delay: 0s !important;
}

/*
* Resize Mobile Menu
*/
@media (max-width: 767px) {
	body {
		padding-top: $rd-mobilepanel-height;

		.site-header-cart {
			.header-cart-dropdown .shopping_cart-dropdown-wrap {
				top: 19px;
			}

			.header-cart-dropdown-active .shopping_cart-dropdown-wrap {
				top: 9px;
			}
		}

		header.site-header {
			.header-container, .header-container.stuckMenu{
				padding-top: 0;
				padding-bottom: 2px;
			}
		}
	}

	.header-container #lang_sel,
	.header-container .currency_switcher, .div_dropdown_top_menu, .rd-mobilemenu_ul .menu-item_description {
		display: none !important;
	}

	.rd-mobilemenu #lang_sel{
		display: block;
	}

	.rd-mobilemenu, .rd-mobilepanel, header .navbar-search-toggle, .social-list.social-list--header.rd-mobile-social-list, .currency_switcher.rd-mobile-currency {
		display: block;
	}

	#wpadminbar.rd-navbar-active {
		position: absolute;
		z-index: 99999999;
	}
}

@media (max-width: 359px) {
	.rd-mobilepanel_title {
		font-size: 18px;
	}
}



.rd-mobilemenu .rd-mobilemenu_ul{
	li {
		border-bottom: 1px solid #4f4e4e;
	}
	> li:first-child {
		border-top: 1px solid #4f4e4e;
	}
}