.page-preloader-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #fff;
	display: block;
}

.cssload-container {
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -40px;
	position: absolute;
}





.cssload-container * {
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-container ul li{
	list-style: none;
}

.cssload-container {
	margin: 15px auto 0 auto;
}

.cssload-flex-container {
	display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -webkit-flex;
		display: -moz-flex;
	flex-direction: row;
		-o-flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
	flex-wrap: wrap;
		-o-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
	justify-content: space-around;
}
.cssload-flex-container li {
	padding: 8px;
	height: 77px;
	width: 77px;
	margin: 23px 15px;
	position: relative;
	text-align: center;
}

.cssload-loading {
	display: inline-block;
	width: 58px;
	height: 4px;
	background: rgb(0,0,0);
	border-radius: 77px;
	transform-origin: center center;
		-o-transform-origin: center center;
		-ms-transform-origin: center center;
		-webkit-transform-origin: center center;
		-moz-transform-origin: center center;
	animation: cssload-loading 4.6s ease infinite;
		-o-animation: cssload-loading 4.6s ease infinite;
		-ms-animation: cssload-loading 4.6s ease infinite;
		-webkit-animation: cssload-loading 4.6s ease infinite;
		-moz-animation: cssload-loading 4.6s ease infinite;
	margin-top: 27px;
}




@keyframes cssload-loading {
	0% {
		transform: rotate(-20deg);
		height: 4px;
		width: 58px;
	}
	5% {
		height: 4px;
		width: 58px;
	}
	30% {
		transform: rotate(380deg);
		height: 4px;
		width: 58px;
	}
	40% {
		transform: rotate(360deg);
		height: 4px;
		width: 58px;
	}
	55% {
		transform: rotate(0deg);
		height: 4px;
		width: 4px;
	}
	65% {
		transform: rotate(0deg);
		height: 4px;
		width: 66px;
	}
	68% {
		transform: rotate(0deg);
		height: 4px;
	}
	75% {
		transform: rotate(0deg);
		height: 4px;
		width: 1px;
	}
	78% {
		height: 4px;
		width: 4px;
	}
	90% {
		height: 4px;
		width: 58px;
		transform: rotate(0deg);
	}
	99%, 100% {
		height: 4px;
		width: 58px;
		transform: rotate(-20deg);
	}
}

@-o-keyframes cssload-loading {
	0% {
		-o-transform: rotate(-20deg);
		height: 4px;
		width: 58px;
	}
	5% {
		height: 4px;
		width: 58px;
	}
	30% {
		-o-transform: rotate(380deg);
		height: 4px;
		width: 58px;
	}
	40% {
		-o-transform: rotate(360deg);
		height: 4px;
		width: 58px;
	}
	55% {
		-o-transform: rotate(0deg);
		height: 4px;
		width: 4px;
	}
	65% {
		-o-transform: rotate(0deg);
		height: 4px;
		width: 66px;
	}
	68% {
		-o-transform: rotate(0deg);
		height: 4px;
	}
	75% {
		-o-transform: rotate(0deg);
		height: 4px;
		width: 1px;
	}
	78% {
		height: 4px;
		width: 4px;
	}
	90% {
		height: 4px;
		width: 58px;
		-o-transform: rotate(0deg);
	}
	99%, 100% {
		height: 4px;
		width: 58px;
		-o-transform: rotate(-20deg);
	}
}

@-ms-keyframes cssload-loading {
	0% {
		-ms-transform: rotate(-20deg);
		height: 4px;
		width: 58px;
	}
	5% {
		height: 4px;
		width: 58px;
	}
	30% {
		-ms-transform: rotate(380deg);
		height: 4px;
		width: 58px;
	}
	40% {
		-ms-transform: rotate(360deg);
		height: 4px;
		width: 58px;
	}
	55% {
		-ms-transform: rotate(0deg);
		height: 4px;
		width: 4px;
	}
	65% {
		-ms-transform: rotate(0deg);
		height: 4px;
		width: 66px;
	}
	68% {
		-ms-transform: rotate(0deg);
		height: 4px;
	}
	75% {
		-ms-transform: rotate(0deg);
		height: 4px;
		width: 1px;
	}
	78% {
		height: 4px;
		width: 4px;
	}
	90% {
		height: 4px;
		width: 58px;
		-ms-transform: rotate(0deg);
	}
	99%, 100% {
		height: 4px;
		width: 58px;
		-ms-transform: rotate(-20deg);
	}
}

@-webkit-keyframes cssload-loading {
	0% {
		-webkit-transform: rotate(-20deg);
		height: 4px;
		width: 58px;
	}
	5% {
		height: 4px;
		width: 58px;
	}
	30% {
		-webkit-transform: rotate(380deg);
		height: 4px;
		width: 58px;
	}
	40% {
		-webkit-transform: rotate(360deg);
		height: 4px;
		width: 58px;
	}
	55% {
		-webkit-transform: rotate(0deg);
		height: 4px;
		width: 4px;
	}
	65% {
		-webkit-transform: rotate(0deg);
		height: 4px;
		width: 66px;
	}
	68% {
		-webkit-transform: rotate(0deg);
		height: 4px;
	}
	75% {
		-webkit-transform: rotate(0deg);
		height: 4px;
		width: 1px;
	}
	78% {
		height: 4px;
		width: 4px;
	}
	90% {
		height: 4px;
		width: 58px;
		-webkit-transform: rotate(0deg);
	}
	99%, 100% {
		height: 4px;
		width: 58px;
		-webkit-transform: rotate(-20deg);
	}
}

@-moz-keyframes cssload-loading {
	0% {
		-moz-transform: rotate(-20deg);
		height: 4px;
		width: 58px;
	}
	5% {
		height: 4px;
		width: 58px;
	}
	30% {
		-moz-transform: rotate(380deg);
		height: 4px;
		width: 58px;
	}
	40% {
		-moz-transform: rotate(360deg);
		height: 4px;
		width: 58px;
	}
	55% {
		-moz-transform: rotate(0deg);
		height: 4px;
		width: 4px;
	}
	65% {
		-moz-transform: rotate(0deg);
		height: 4px;
		width: 66px;
	}
	68% {
		-moz-transform: rotate(0deg);
		height: 4px;
	}
	75% {
		-moz-transform: rotate(0deg);
		height: 4px;
		width: 1px;
	}
	78% {
		height: 4px;
		width: 4px;
	}
	90% {
		height: 4px;
		width: 58px;
		-moz-transform: rotate(0deg);
	}
	99%, 100% {
		height: 4px;
		width: 58px;
		-moz-transform: rotate(-20deg);
	}
}